* {
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

html {
    scroll-behavior: smooth; 
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center; 
}

h1 {
    font-size: 36px;
    color: #1a202c;
    line-height: 1.25;
    text-wrap: wrap;
}

.purple {
    color: #6415ff;
}

p {
   line-height: 1.5;
   text-wrap: wrap; 
}

a {
    display: inline;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 0 32px;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 96px 0;
}

cursor {
    cursor: pointer;
}

.btn {
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms ease;  
}




/*

LANDING

*/

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding: 2px;
    letter-spacing: 0.6px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}


.nav__link {
    color: #243e63;
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    text-decoration: none;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #8b1b96;
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms 
ease;
}

.menu--open .menu__backdrop {
     visibility: visible;
     opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}
    

.menu__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px;
}

.menu__link {
    color: #1a202c;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.btn__menu--close {
     position: absolute;
     right: 20px;
     top: 10px;
     padding: 8px;
     color: white;

}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: calc(100% - 40%);
    max-width: 100%;
}

.header__description--para {
    margin: 32px 0;
    font-size: 18px;
}

.header__img--wrapper {
    width: calc(100% - 40%);
    display: flex;
    justify-content: flex-end;
}

.header__img {
    max-width: 720px;
}

.header__email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;    
}

.header__email--input {
    width: 85%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 32px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    top: 0;
    bottom: 0;
    z-index: 1
    
}

.header__email--btn {
    z-index: 2;
    margin: 2px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
    position: absolute;
    right: 46px;
    height: 65%;
}

.header__customer--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;
}


.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}

/*

FEATURES

*/

#features {
    position: relative;
}

.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.section__para {
    text-align: center;
    max-width: 576px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
}

.feature_row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 6px;
    border: 1px solid #e5e7eb;
    border-radius: 50px;
    position: absolute;
}

.feature__img {
    width: 50px;
    height: 50px;
    position: relative;
    
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__title {
    display: flex;
    justify-content: center;
    font-size: 20px;    
}

.feature__para {
   margin-top: 16px;
   font-size: 16px;
   max-width: calc(634px / 3);
   color: rgb(124, 139, 161);
   line-height: 2;
   font-weight: 500;
}

/* 

QUALITY

*/

.btn {
    margin-top: 32px;
}

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__title {
    line-height: 1.25;
}

.quality__description .quality__img--wrapper {
    width: 50%;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
    
}

.section__title {
    line-height: 1.25;
    text-align: left;
}

.section__para {
    text-align: left;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__img {
    z-index: 2;
    width: 130%;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 180px;
    height: 180px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgb(100, 21, 255 var(--tw-text-opacity));
    z-index: 5;
    display: block;
    display: flex;
    justify-content: end;
    align-items: end;   
}

/*

STEPS

*/

.steps__img--wrapper .steps__description {
    width: 50%;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
    align-items: center;
}

.steps__img {
    z-index: 2;
    width: 110%
}

.steps__grid {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
    z-index: -10;
    color: rgb(100, 21, 255);
    fill: currentColor;
    width: 50px;
    height: 50px;
}

.steps__description {
    padding: 32px;
    padding-left: 64px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #1a202c;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin: 12px;
    font-weight: 500;
    line-height: 2;   
}

/*

VALUES

*/

.values__description .values__img {
    width: 50%;
}

.values__description {
    padding: 32px 64px 32px 0;
}

#values .section__title {
    margin-top: 16px;
    margin-bottom: 32px;
}

.values__list {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    flex-direction: row;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

.value {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.value__title {
    display: flex;
    flex-direction: column;
}

.value:nth-child(1) {
    background-color: #9ae6b4;
}
.value:nth-child(2) {
    background-color: #feb2b2;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

value

.values__img {
    width: 200%;
    height: 200%;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
}

#values .btn {
    margin-top: 48px;
}

.value__img {
    width: 65%;
}

/*

PRICING

*/

#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing .section__para {
    max-width: 576px;
    text-align: center;
}

.plans {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26, 32, 44);
    box-shadow: rgb(0, 0, 0, 0) 0px 0px 0px 0px, rgb(0, 0, 0, 0) 0px 0px 0px 0px, rgb(0, 0, 0, 0.1) 0px 1px 3px 0px, rgb(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb (102, 126, 234) 100%);
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}

.plan:nth-child(odd) .plan__name, .plan:nth-child(odd) .plan__price, .plan:nth-child(odd) .plan__target {
    color: #1a202c;
}

.plan__name {
    font-size: 20px;
}

.plan__name .plan__price .plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan:nth-child(odd) .plan__duration {
    color: #a0aec0;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.plan:nth-child(1) .plan__middle, .plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__bottom {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.plan__button {
    border-radius: 0.25rem;
    background-color: rgb(100 21 255);
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: rgb(247 250 252);
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__target, .plan:nth-child(2) .plan__duration, .plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(2) .plan__button {
    color: #6415ff;
    background-color: #f7fafc;
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/*

TESTIMONIALS

*/

#testimonials .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#testimonials .row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

#testimonials .section__title {
    margin-bottom: 24px;
    line-height: 1.25;
}

.testimonial {
    margin-top: 40px;
}

.testimonial__rating {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
}

.fa-solid .fas {
    font-weight: 900;
}

.fa-star{
    --fa: "\f005"
}

.testimonial__title {
    color: #4a5568;
    line-height: 1.625;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__name {
    color: #4a5568;
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms ease;
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #edf2f7;
    height: 20px;
}

/*

START

*/

#start .row {
    position: relative;
    overflow: hidden;
}

.start__blob--1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20rem;
    width: 20rem;
    transform: translate(-5rem, 8rem);
    color: rgb(80 17 204);
    opacity: 0.5;
}

.start__blob--2 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20rem;
    width: 20rem;
    transform: translate(5rem, -16rem);
    color: rgb(80 17 204);
    opacity: 0.5;
}

.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
}

.start__button:nth-child(1) {
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
    transition: all 300ms ease;
}

.start__button:nth-child(2) {
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms ease;
}

.start__button {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025;
    margin: 1px;
    z-index: 2;
}

/*

FOOTER

*/

footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}



.footer__blob--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-128px);
    z-index: 1;
    opacity: 0.5;
}

.footer__blob--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 1;
    opacity: 0.5;
}

.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--text {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__socials {
    display: flex;
    align-items: center;
    margin-left: -16px;
}

.footer__social--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
}